# **Assignment For Numpy**

Difficulty Level **Beginner**

1. Import the numpy package under the name np

In [1]:
import numpy as np

2. Create a null vector of size 10

In [2]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

3. Create a vector with values ranging from 10 to 49

In [3]:
arr1=np.arange(9,50)
arr1

array([ 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25,
       26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42,
       43, 44, 45, 46, 47, 48, 49])

4. Find the shape of previous array in question 3

In [4]:
np.shape(arr1)

(41,)

5. Print the type of the previous array in question 3

In [5]:
type(arr1)

numpy.ndarray

6. Print the numpy version and the configuration

In [6]:
print(np.__version__)
print(np.show_config())

1.19.3
blas_mkl_info:
  NOT AVAILABLE
blis_info:
  NOT AVAILABLE
openblas_info:
    library_dirs = ['D:\\a\\1\\s\\numpy\\build\\openblas_info']
    libraries = ['openblas_info']
    language = f77
    define_macros = [('HAVE_CBLAS', None)]
blas_opt_info:
    library_dirs = ['D:\\a\\1\\s\\numpy\\build\\openblas_info']
    libraries = ['openblas_info']
    language = f77
    define_macros = [('HAVE_CBLAS', None)]
lapack_mkl_info:
  NOT AVAILABLE
openblas_lapack_info:
    library_dirs = ['D:\\a\\1\\s\\numpy\\build\\openblas_lapack_info']
    libraries = ['openblas_lapack_info']
    language = f77
    define_macros = [('HAVE_CBLAS', None)]
lapack_opt_info:
    library_dirs = ['D:\\a\\1\\s\\numpy\\build\\openblas_lapack_info']
    libraries = ['openblas_lapack_info']
    language = f77
    define_macros = [('HAVE_CBLAS', None)]
None

7. Print the dimension of the array in question 3

In [7]:
arr1

array([ 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25,
       26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42,
       43, 44, 45, 46, 47, 48, 49])

8. Create a boolean array with all the True values

In [10]:
sample_arr=[True,False]
bool_arr = np.random.choice(sample_arr, size=10)
print(bool_arr)

[False False False False False  True False False False False]

9. Create a two dimensional array

In [11]:
arr2d = np.arange(30).reshape(6,5)
arr2d

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29]])

10. Create a three dimensional array

In [12]:
arr3d = np.arange(40).reshape(2,4,5)
arr3d

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19]],

       [[20, 21, 22, 23, 24],
        [25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34],
        [35, 36, 37, 38, 39]]])

Difficulty Level **Easy**

11. Reverse a vector (first element becomes last)

In [13]:
Rev=arr1[::-1]
Rev

array([49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33,
       32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16,
       15, 14, 13, 12, 11, 10,  9])

12. Create a null vector of size 10 but the fifth value which is 1

In [14]:
null=np.zeros(10)
null[4]=1
null

array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.])

13. Create a 3x3 identity matrix

In [15]:
matrix=np.identity(3)
matrix

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

14. arr = np.array([1, 2, 3, 4, 5]) 

---

 Convert the data type of the given array from int to float

In [16]:
arr = np.array([1, 2, 3, 4, 5])
print(arr.dtype)
print("---------")
float_arr = arr.astype(np.float)
float_arr.dtype

int32
---------

dtype('float64')

15. arr1 =          np.array([[1., 2., 3.],

                    [4., 5., 6.]])  
                      
    arr2 = np.array([[0., 4., 1.],
     
                   [7., 2., 12.]])

---


Multiply arr1 with arr2

In [17]:
arr1 = np.array([[1., 2., 3.],

            [4., 5., 6.]])  
arr2 = np.array([[0., 4., 1.],

           [7., 2., 12.]])
Multiply = arr1 * arr2
Multiply

array([[ 0.,  8.,  3.],
       [28., 10., 72.]])

16. arr1 = np.array([[1., 2., 3.],
                    [4., 5., 6.]]) 
                    
    arr2 = np.array([[0., 4., 1.], 
                    [7., 2., 12.]])


---

Make an array by comparing both the arrays provided above

In [18]:
arr1 = np.array([[1., 2., 3.],

            [4., 5., 6.]]) 
arr2 = np.array([[0., 4., 1.],

            [7., 2., 12.]])
Compar_arr = arr1+arr2
Compar_arr

array([[ 1.,  6.,  4.],
       [11.,  7., 18.]])

17. Extract all odd numbers from arr with values(0-9)

In [19]:
odd = np.arange(0,10 , 3)
odd

array([0, 3, 6, 9])

18. Replace all odd numbers to -1 from previous array

In [20]:
odd [odd < -0]=-1
odd

array([0, 3, 6, 9])

19. arr = np.arange(10)


---

Replace the values of indexes 5,6,7 and 8 to **12**

In [21]:
arr = np.arange()
arr [] 5 = 12
arr

SyntaxError: invalid syntax (<ipython-input-21-d3fef631f430>, line 2)

20. Create a 2d array with 1 on the border and 0 inside

In [22]:
d = np.ones((5,5))
d [1:-1,1:-1]=0
d

array([[1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 1.],
       [1., 0., 0., 0., 1.],
       [1., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1.]])

Difficulty Level **Medium**

21. arr2d = np.array([[1, 2, 3],

                    [4, 5, 6], 

                    [7, 8, 9]])

---

Replace the value 5 to 12

In [23]:
arr2d = np.array([[1, 2, 3],

            [4, 5, 6], 

            [7, 8, 9]])
arr2d[1][1]=12
arr2d

array([[ 1,  2,  3],
       [ 4, 12,  6],
       [ 7,  8,  9]])

22. arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

---
Convert all the values of 1st array to 64

In [24]:
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
arr3d[0:1]=64
arr3d

array([[[64, 64, 64],
        [64, 64, 64]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

23. Make a 2-Dimensional array with values 0-9 and slice out the first 1st 1-D array from it

In [25]:
arr2d=np.arange(0,9).reshape(3,3)
print(arr2d)
arr2d[0,0]

[[0 1 2]
 [3 4 5]
 [6 7 8]]

0

24. Make a 2-Dimensional array with values 0-9 and slice out the 2nd value from 2nd 1-D array from it

In [26]:
arr2d=np.arange(0,9).reshape(3,3)
print(arr2d)
arr2d[1,1]

[[0 1 2]
 [3 4 5]
 [6 7 8]]

4

25. Make a 2-Dimensional array with values 0-9 and slice out the third column but only the first two rows

In [27]:
arr2d=np.arange(0,9).reshape(3,3)
arr2d
arr2d[0:,:2]

array([[0, 1],
       [3, 4],
       [6, 7]])

26. Create a 10x10 array with random values and find the minimum and maximum values

In [28]:
rand=np.random.random((10,10))
print(rand)
rand.min()
rand.max()
print("Min" ,rand.min(), "Max" ,rand.max())

[[0.72813424 0.00723188 0.41243736 0.167581   0.29761501 0.04176586
  0.43558842 0.30238824 0.08762933 0.28006683]
 [0.61860642 0.53527386 0.58226463 0.73245293 0.03117843 0.58387474
  0.90065551 0.07271799 0.41201594 0.16504386]
 [0.78256133 0.46404014 0.4022203  0.54770532 0.97602805 0.9533491
  0.72099476 0.39603276 0.72121357 0.80447652]
 [0.77662001 0.49583456 0.03189066 0.44235489 0.31787856 0.91607986
  0.75711531 0.11145758 0.31382586 0.682691  ]
 [0.34517477 0.73756446 0.55014353 0.90220927 0.80880585 0.88393683
  0.32494596 0.84902894 0.72809245 0.2079904 ]
 [0.59153094 0.29755999 0.87842233 0.01862658 0.3034384  0.48970183
  0.35135812 0.98162386 0.72522474 0.41735507]
 [0.99420999 0.72015849 0.95976005 0.77302872 0.50872993 0.34344824
  0.54394573 0.82269885 0.36865939 0.96077695]
 [0.73859731 0.86915993 0.12723111 0.71983074 0.02686857 0.86915365
  0.48930657 0.17601443 0.69612883 0.73946348]
 [0.42186863 0.15498462 0.85281702 0.34232088 0.74790291 0.34500857
  0.10483692 0.85960559 0.14029834 0.0970603 ]
 [0.82392411 0.34362787 0.67473936 0.70951496 0.6732986  0.41310471
  0.16619006 0.78278908 0.94184307 0.4740818 ]]
Min 0.007231878293920135 Max 0.9942099915784745

27. a = np.array([1,2,3,2,3,4,3,4,5,6]) b = np.array([7,2,10,2,7,4,9,4,9,8])
---
Find the common items between a and b

In [29]:
arr1 = np.arange(0,4)
print(arr1)
arr2 = [1, 3, 4] 

# Common values between two arrays 
print("Common",np.intersect1d(arr1, arr2))

[0 1 2 3]
Common [1 3]

28. a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

---
Find the positions where elements of a and b match

In [30]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
np.where(np.in1d(a, b))

(array([1, 3, 5, 7], dtype=int64),)

29.  names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will**

In [31]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) 
data = np.random.randn(7, 4)
data[names!='Will']

array([[ 0.4302012 ,  0.70953722,  0.08966659, -1.23168563],
       [-0.81448191,  0.14984007,  0.12627358, -0.70250034],
       [ 0.32503531,  1.35869631,  0.9607742 ,  0.81171235],
       [-0.11821045, -0.31180263, -0.7975911 ,  1.55984888],
       [ 2.24933403,  0.80280056,  0.44712391,  0.81693021]])

30. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will** and **Joe**

In [32]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
data = np.random.randn(7, 4)
data[names!='Will''Joe']

array([[ 2.19854196,  0.48700503, -0.32523887, -2.19284341],
       [-0.83586049,  0.52236817, -0.18295799,  0.13530072],
       [ 0.3773468 , -0.32885394,  1.6123109 ,  0.26336818],
       [-0.60893908, -0.8561404 , -0.32029872,  0.52073148],
       [ 0.06711931,  0.77503747,  0.17237788, -1.03394763],
       [ 0.28380533, -1.34285051, -1.80827518, -1.28815561],
       [ 0.87806514,  0.04389081, -0.54350402, -0.15450626]])

Difficulty Level **Hard**

31. Create a 2D array of shape 5x3 to contain decimal numbers between 1 and 15.

In [33]:
arr2d=np.arange(1,16).reshape(5,3)
arr2d=arr2d.astype(np.float)
arr2d

array([[ 1.,  2.,  3.],
       [ 4.,  5.,  6.],
       [ 7.,  8.,  9.],
       [10., 11., 12.],
       [13., 14., 15.]])

32. Create an array of shape (2, 2, 4) with decimal numbers between 1 to 16.

In [34]:
arr1d= np.arange(1,17)
arr=arr1d.reshape(2,2,4)
arr

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8]],

       [[ 9, 10, 11, 12],
        [13, 14, 15, 16]]])

33. Swap axes of the array you created in Question 32

In [35]:
np.swapaxes(arr, 2,1)

array([[[ 1,  5],
        [ 2,  6],
        [ 3,  7],
        [ 4,  8]],

       [[ 9, 13],
        [10, 14],
        [11, 15],
        [12, 16]]])

34. Create an array of size 10, and find the square root of every element in the array, if the values less than 0.5, replace them with 0

In [36]:
arr1=np.arange(10)
print(arr1/2)
arr1[ 0.5 < arr1/2 ] = 0
arr1

[0.  0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5]

array([0, 1, 0, 0, 0, 0, 0, 0, 0, 0])

35. Create two random arrays of range 12 and make an array with the maximum values between each element of the two arrays

In [37]:
rand=np.random.random((6,2))
print(rand)

print("Max") 
rand.max()

[[0.79354198 0.78456207]
 [0.10486363 0.68567377]
 [0.1172523  0.94881197]
 [0.38814251 0.58466312]
 [0.10729508 0.65086051]
 [0.01520078 0.73652399]]
Max

0.9488119664390046

36. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

---
Find the unique names and sort them out!

In [38]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
np.unique(names)

array(['Bob', 'Joe', 'Will'], dtype='<U4')

37. a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

---
From array a remove all items present in array b

In [39]:
a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])
result = np.setdiff1d(a, b)
result

array([1, 2, 3, 4])

38.  Following is the input NumPy array delete column two and insert following new column in its place.

---
sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]]) 


---

newColumn = numpy.array([[10,10,10]])

In [40]:
sampleArray = np.array([[34,43,73],[82,22,12],[53,94,66]])
print(sampleArray)
sampleArray_del=np.delete(sampleArray,1,1)
print(sampleArray_del)
arr=np.insert(sampleArray_del ,1, 10,axis=1)
print(arr)

[[34 43 73]
 [82 22 12]
 [53 94 66]]
[[34 73]
 [82 12]
 [53 66]]
[[34 10 73]
 [82 10 12]
 [53 10 66]]

39. x = np.array([[1., 2., 3.], [4., 5., 6.]]) y = np.array([[6., 23.], [-1, 7], [8, 9]])


---
Find the dot product of the above two matrix

In [41]:
x = np.array([[1., 2., 3.], [4., 5., 6.]])
y = np.array([[6., 23.], [-1, 7], [8, 9]])
np.dot(x,y)

array([[ 28.,  64.],
       [ 67., 181.]])

40. Generate a matrix of 20 random values and find its cumulative sum

In [42]:
matrix=np.arange(20)
print(matrix)
np.cumsum(matrix)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]

array([  0,   1,   3,   6,  10,  15,  21,  28,  36,  45,  55,  66,  78,
        91, 105, 120, 136, 153, 171, 190], dtype=int32)